{% extends 'base.html.twig' %}

{% block title %}
    {{ 'admin.panel'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.change.password'|trans }}</h1>
    {{ form_start(changePasswordForm) }}
    <br>
    <div class="form-field2">
        {{ form_label(changePasswordForm.currentPassword) }}
        <br>
        {{ form_widget(changePasswordForm.currentPassword) }}
    </div>
    <div class="form-field2">
        {{ form_label(changePasswordForm.newPassword) }}
        <br>
        {{ form_widget(changePasswordForm.newPassword) }}
    </div>
    <br>
    {{ form_end(changePasswordForm) }}
    <br>
    <a href="{{ url('notice_index') }}" title="{{ 'action.back_to_list'|trans }}">
        <button class="btn btn-light" type="submit">{{ 'action.back_to_list'|trans }}</button>
    </a>
{% endblock %}
